:root {
  font-family: serif;
  font-size: large;
}

.taller {
  --gameBoardSize: 80vw;
}

.wider {
  --gameBoardSize: 70vh;
}

* {
  text-align: center;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

main {
  border-bottom: white 1px solid;
}

@media(prefers-color-scheme: light) {
  main {
    border: black 1px solid;
  }
}

#gameBoard {
  display: grid;
  margin: 0 auto;
  height: var(--gameBoardSize);
  width: var(--gameBoardSize);
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

#gameBoard>div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--gameBoardSize) / 8);
  width: calc(var(--gameBoardSize) / 8);
}

#gameBoard>div span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: calc(var(--gameBoardSize) / 16);
  user-select: none;
}

a {
  display: block;
  padding: 1rem;
}

footer {
  margin: auto;
  margin-top: 2rem;
}

#gameBoard>#gameOverDiv {
  width: 100%;
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
}

button {
  padding: 0.5rem;
}

/*For JavaScript:*/
.computerActivated {
  background: darkblue;
}

.hidden {
  background: grey;
  color: grey;
  border: 1px solid black;
}

.active {
  border: 1px solid grey;
}

.clickedCorrectly {
  background-color: darkgreen;
  color: white;
}

.disabled {
  pointer-events: none;
}

.invisible {
  visibility: hidden;
}