:root {
  color-scheme: light dark;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

a {
  display: block;
  padding: 1rem;
}

table {
  margin: 0 auto;
  border-spacing: 2px;
}

td {
  height: 50px;
  width: 50px;
  background-color: grey;
}

/*Non-touch devices:*/
@media (hover: hover) and (pointer: fine) {
  td:hover {
    background-color: lightgrey;
  }

  td:active {
    background-color: green;
  }
}

/*For JavaScript:*/
.computerActivated {
  background: darkblue;
}
.playerActivated {
  background: green;
}
.lost {
  background: darkred;
}
.disable {
  pointer-events: none;
}
.invisible {
  visibility: hidden;
}