body {
  margin: 0;
  margin-top: 1vh;
  font-family: sans-serif;
}

main,
nav {
  padding: 0 1vh;
}
h1 {
  text-align: center;
}

#grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 13.5vh);
  grid-gap: 1vh;
}

#grid-container button,
#grid-container a {
  font-size: 4vw;
  line-height: 13.5vh;
  text-align: center;
}

button {
  cursor: pointer;
}

footer,
#messages,
header {
  height: 13.5vh;
  width: 75vw;
  line-height: 13.5vh;
  margin: 0 auto;
  text-align: center;
}

footer,
header,
#messages,
#grid-container a {
  font-size: 1.25rem;
}

header {
  font-size: 3vw;
}

h1 {
  margin: 0;
}

footer:hover,
#grid-container button:hover,
#grid-container a:hover {
  background: lightgray;
}

a {
  text-decoration: none;
}