body {
  background: black;
  margin: 0;
  margin-top: 1vh;
  font-family: Arial, Helvetica, sans-serif;
}

main, nav {
  padding: 0 1vh;
}

#grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 13.5vh);
  grid-gap: 1vh;
}

#grid-container button, #grid-container a{
  background-color: #a7a7a7;
  font-size: 4vw;
  line-height: 13.5vh;
  text-align: center;
}

button {
  cursor: pointer;
}

footer, #messages, header {
  height: 13.5vh;
  width: 75vw;
  line-height: 13.5vh;
  margin: 0 auto;
  text-align: center;
  color: lightgrey;
}

footer, header, #messages, #grid-container a {
  font-size: 1.25rem;
}
header {
  font-size: 3vw;
}

h1 {
  margin: 0;
}

footer {
  background: #a7a7a7;
  color: black;
}

footer:hover, #grid-container button:hover,
#grid-container a:hover {
  background: lightgrey;
}

a {
  text-decoration: none;
}





