:root {
  color-scheme: dark;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
  margin: 0 auto;
  overflow-y: scroll;
  width: 80%;
  
}

h1, h2{
  font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif
}

a {
    color: dodgerblue;
    background: #121212;
    display: block;
    padding: 0.5rem;
}

a:hover {
    text-decoration: none;
}
a:visited {
    color: Orchid;
}

.ext-site {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1rem;
  width: 1rem;
  background-image: url("./ext-site-symbol-grey-lines.png");
}
