:root {
  color-scheme: dark;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  overflow-y: scroll;
  max-width: 800px;
  padding: 20px;
}

article,
section {
  padding: 10px;
}

h1 {
  text-align: center;
}

h1,
h2 {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  display: block;
  padding: 0.5rem;
}

footer {
  text-align: center;
}

/*Resets*/
.inline {
  display: inline;
  padding: 0;
}