/*Universal styles*/
/*TAG styles*/
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

main {
  margin: 1rem;
}

h1 {
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
}

nav li {
  list-style: none;
}

footer {

  height: 10vh;
  text-align: center;
  background-color: lightgrey;
}

@media (min-width: 1280px) {

#navbar {
  position: fixed;
  height: 90%;
  width: 25%;
  border-right: black 1px dashed;
}

#main-doc {
  position: absolute;
  height: 90%;
  left: 25%;
  width: 75%;
  overflow: scroll;
}

footer {
 position: absolute;
 top: 90vh;
 width: 100vw;
}

} /*end media query*/