body {
    background-color: black;
    color: grey;
    font-size: 2rem;
}

main {
    width: 75vw;
    margin: 0 auto;
}

input {
    display: block;
    height: 2rem;
    font-size: 1.5rem;
    background-color: lightgray;
    margin: 5px;
}

[type="checkbox"], [type="radio"] {
    display: inline;
}

select, textarea {
    font-size: 2rem;
    font-size: 1.5rem;
}

