html {
	text-align: center;
	font-family: sans-serif;
}

body {
	margin: 0 auto;
	width: 370px;
	border: 2px solid lightgray;
}

#timer,
#settings,
#info,
footer {
	margin: 2rem;
}

h1,
h2,
h3,
p {
	padding: 0.5rem;
}

/*Over header*/
/*Beyond Footer*/
#hidden {
	display: none
}

/*Header*/
header {
	padding-top: 1rem;
}

header h1 {
	font-size: 2rem;
}

/*Main*/
button {
	display: block;
	margin: 1rem auto;
	font-weight: 700;
	font-size: 1.2rem;
	width: 10rem;
	height: 3rem;
}

#reset {
	display: none;
	background-color: darkRed;
	color: #d3d3d3;
}

#output,
#clock {
	display: none;
}

#clock {
	font-weight: bold;
	font-size: 1.2rem;
}

#settings {
	margin: 0 auto;
	text-align: left;
}

#settings h2 {
	font-size: 1.4rem;
	text-align: center;
}

#chosen_settings {
	display: none;
}

#sound {
	width: 5rem;
}

#notification {
	width: 5rem;
}

#pause-after-session {
	width: 5rem;
}

input {
	padding: 1rem;
	font-size: 1rem;
	width: 3rem;
}

#solid-setting {
	display: none;
}

/*Footer*/
footer {
	padding-bottom: 1rem;
}

footer a {
	display: block;
	padding: 1rem;
}






















/*ids:*/