/*Tag styles:*/
body {
  font-size: 1.25rem;
  text-align: center;
}

textarea,
button {
  border: none;
  font-size: 2rem;
}

textarea {
  width: 14rem;
  height: 7rem;
  resize: none;
}

button {
  margin: 1rem;
  padding: 1rem;
}

footer {
  margin-top: 4rem;

}

footer a {
  padding: 1.5rem;
  font-size: 1.5rem;
}

/*Ids:*/
#normal {
  display: none;
}