/*Tag styles:*/
body {
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 80%);
  font-size: 1.25rem;
  text-align: center;
}

textarea, button {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 80%);
  border: none;
  font-size: 2rem;
}
textarea {
  width: 14rem;
  height: 7rem;
  resize:none;
}

button {
  margin: 1rem;
  padding: 1rem;
}

footer {
  margin-top: 4rem;

}

footer a {
  padding: 1.5rem;
  font-size: 1.5rem;
  color: green;
}

footer a:visited {
  color: red;
}

/*Ids:*/
#normal {
  display: none;
}
