body {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 80%);
    font-size: 1.25rem;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 0 auto;
    width: 80%;
    max-width: 764px;
}

a {
    color: green;
}
a:visited {
    color: red;
}

img {
    width: 75%;
    max-width: 764px;
}

footer {
    margin-top: 1em;
}