:root {
	color-scheme: light dark;
}
body {
  margin: 0 auto;
  padding: 0 1rem;

}
img {
  display: block;
  width: 90%;
  height: auto;
  margin: auto;
  outline: 1px grey solid;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h1, h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.25rem;
}

footer > * {
  display: block;
  text-align: center;
  padding: 0.5rem;
}
footer > *:last-child {
  padding-bottom: 2rem;
}


@media screen and (min-width: 1000px){
 body {
  max-width: 50vw;
 }
}

