:root {
	text-align: center;
	font-size: 20px;
}

input {
	display: block;
	margin: 0 auto;
}

button {
	margin-top: 1rem;
}

footer a {
	display: block;
	margin: 1rem;
}

#result {
	height: 20px;
}

.sr_only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	border: 0;
	white-space: nowrap;
	clip: rect(0, 0, 0, 0);
}