/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*my css*/

html {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #333333;
  color: #d3d3d3;
	display: flex;
	justify-content: center;
}

main {
	background-color: #333333;
	width: 75%;
	position: absolute;
	z-index: 2;
}

h1 {
  font-size: 6vw;
  padding: 3vw 0 6vw 0;
}

p {
  display: inline;
  font-size: 5vw;
}

input {
  background-color: #2e2e2e;
  color: #d3d3d3;
	font-size: 5vw;
	width: 11vw;
}

button {
	font-size: 5vw;
}

#message {
	display: block;
	visibility: hidden;
	margin-top: 6vw;
}

/*Footer*/

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2e2e2e;
	position:fixed;
	top: 90vh;
	height: 10vh;
	width: 100%;
	z-index: 1;
}

footer a {
	display: inline-block;
	font-size: 4vw;
	vertical-align: middle;
	color: #d3d3d3;
}

footer a:hover {
	text-decoration-line: none;
}

/*desktop*/
/*break-point is after Ipad Pro in horizontal mode*/
@media only screen and (min-width: 1367px) {

	/*size*/
	main {
		width: 1366px;
	}
	h1 {
		font-size: 4rem;
	}
	
	p {
		font-size: 3rem;
	}

	input {
		font-size: 3rem;
		width: 6rem;
	}

	button {
		font-size: 3rem;
	}

	footer a {
		font-size: 3rem;
	}

	/*position*/

	h1 {
		padding: 3rem 0 5rem 0;
	}

	#message {
		margin-top: 2rem;
	}
}
