:root {
  color-scheme: dark;
  color: lightgray;
  background: black;
  text-align: center;
  font-size: 20px;
}

#message {
  display: block;
  visibility: hidden;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}