/*General*/
:root {
  color-scheme: dark light;
  font-family: serif;
  font-size: xx-large;
}

* {
  padding: 0px;
  margin: 0px;
}

main,
footer {
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

li,
a {
  padding: 0.75rem;
}

h1 {
  text-align: center;
  font-size: 0.75rem;
}

/*For canvas:*/
table {
  margin: 0 auto;
  background: black;
  border: 1px solid white;
  border-collapse: collapse;
}

.taller {
  --gameBoardSize: 80vw;
}

.wider {
  --gameBoardSize: 58vh;
}

td {
  width: calc(var(--gameBoardSize) / 32);
  height: calc(var(--gameBoardSize) / 32);
}

@media (hover: hover) and (pointer: fine) {
  td {
    width: 20px;
    height: 20px;
  }
}

/*For Snek, js:*/
.snekBody {
  background-color: ForestGreen;
}

.snekHead {
  background: MediumSeaGreen;
}

.egg {
  background: beige;
}

/*For Touch devices:*/
.invisible {
  visibility: hidden;
}

@media (pointer: coarse) {
  #forTouchDevices {
    visibility: visible;
    display: grid;
    grid-template-areas:
      "up up"
      "left right"
      "down down"
      "enter enter";
    margin: 0 auto;
    height: 200px;
    max-width: 800px;

  }

  #ArrowUp {
    grid-area: up;
  }

  #ArrowLeft {
    grid-area: left;
  }

  #ArrowRight {
    grid-area: right;
  }

  #ArrowDown {
    grid-area: down;
  }

  #Enter {
    grid-area: enter;
  }
}