body {
    margin: 0 auto;
    text-align: center
}

table {
  border: solid lightgray 2px;
  margin: 0 auto;
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
}

.invisible {
  display: none;
}


button {
  margin: auto;
}

#ArrowUp {
  grid-area: up;
}

#ArrowLeft {
  grid-area: left;
}

#ArrowRight {
  grid-area: right;
}

#ArrowDown {
  grid-area: down;
}

#Enter {
  grid-area: enter;
}

footer {
  margin-top: 2rem;
}
a {
  padding: 1rem;
}

/*For Snek, js:*/
.snekBody {
  background-color: ForestGreen;
}

.snekHead {
  background: MediumSeaGreen;
}

.egg {
  background: beige;
}

.triangles {
  position: absolute;
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
  left: calc(50% - min(50vw, 50vh));
}

.triangles.ArrowUp {
  clip-path: polygon(50% 50%, 100% 0%, 0% 0%);

}
.triangles.ArrowRight {
  clip-path: polygon(50% 50%, 100% 100%, 100% 0%);
}
.triangles.ArrowLeft {
  clip-path: polygon(50% 50%, 0% 0%, 0% 100%);


}
.triangles.ArrowDown {
  clip-path: polygon(100% 100%, 50% 50%, 0% 100%);
}
